Webpack (imports/exports)
  Babel
  Scss
  Eslint
  2 Modes
    - Dev
      Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
    - Prod
      Minified JS & CSS
Git
  Production
    1.0.0
  Development
    1.0.2